{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1> KDA Kaisa </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti molestias quisquam voluptatum. Ad eaque non suscipit commodi sapiente rerum nisi, accusantium ullam sint corporis ab! Sed laudantium quam repellendus ut.
        </p>

    </div>
    <div class="col-4">
        <img src="assets/img/kaisa.jpg" class="img-thumbnail">
    </div>
</div>
{{>footer}}